<nav class="top-nav-menu-area">
    <ul class="top-nav-menu relative">
        <li class="top-nav-menu-item">
            <a routerLink="records/Run" class="top-nav-menu-link">Run</a>
            <ul class="top-nav-submenu">
                <li><a class="top-nav-submenu-link" routerLink="/save-records/Run/60 m">60 m</a></li>
                <li><a class="top-nav-submenu-link" routerLink="/save-records/Run/100 m">100 m</a></li>
                <li><a class="top-nav-submenu-link" routerLink="/save-records/Run/200 m">200 m</a></li>
                <li><a class="top-nav-submenu-link" routerLink="/save-records/Run/400 m">400 m</a></li>
                <li><a class="top-nav-submenu-link" routerLink="/save-records/Run/800 m">800 m</a></li>
                <li><a class="top-nav-submenu-link" routerLink="/save-records/Run/1500 m">1500 m</a></li>
                <li><a class="top-nav-submenu-link" routerLink="/save-records/Run/3000 m">3000 m</a></li>
                <li><a class="top-nav-submenu-link" routerLink="/save-records/Run/5000 m">5000 m</a></li>
                <li><a class="top-nav-submenu-link" routerLink="/save-records/Run/10000 m">10000 m</a></li>
                <li><a class="top-nav-submenu-link" routerLink="/save-records/Run/marathon">Marathon</a></li>
                <li><a class="top-nav-submenu-link" routerLink="/save-records/Run/100 m Hrd">100 m Hrd</a></li>
                <li><a class="top-nav-submenu-link" routerLink="/save-records/Run/110 m Hrd">110 m Hrd</a></li>
                <li><a class="top-nav-submenu-link" routerLink="/save-records/Run/400 m Hrd">400 m Hrd</a></li>
            </ul>
        </li>
        <li class="top-nav-menu-item">
            <a routerLink="records/Jump" class="top-nav-menu-link">Jump</a>
            <ul class="top-nav-submenu">
                <li><a class="top-nav-submenu-link" routerLink="/save-records/Jump/High">High</a></li>
                <li><a class="top-nav-submenu-link" routerLink="/save-records/Jump/Long">Long</a></li>
                <li><a class="top-nav-submenu-link" routerLink="/save-records/Jump/Triple">Triple</a></li>
                <li><a class="top-nav-submenu-link" routerLink="/save-records/Jump/Pole">Pole</a></li>
            </ul>
        </li>
        <li class="top-nav-menu-item">
            <a routerLink="records/Throw" class="top-nav-menu-link">Throw</a>
            <ul class="top-nav-submenu">
                <li><a class="top-nav-submenu-link" routerLink="/save-records/Throw/Short">Short</a></li>
                <li><a class="top-nav-submenu-link" routerLink="/save-records/Throw/Discuss">Discuss</a></li>
                <li><a class="top-nav-submenu-link" routerLink="/save-records/Throw/Javelin">Javelin</a></li>
                <li><a class="top-nav-submenu-link" routerLink="/save-records/Throw/Hammer">Hammer</a></li>
            </ul>
        </li>
        <li class="top-nav-menu-item">
            <a routerLink="records/Walk" class="top-nav-menu-link">Walk</a>
            <ul class="top-nav-submenu">
                <li><a class="top-nav-submenu-link" routerLink="/save-records/Walk/1 km">1 km</a></li>
                <li><a class="top-nav-submenu-link" routerLink="/save-records/Walk/3 km">3 km</a></li>
                <li><a class="top-nav-submenu-link" routerLink="/save-records/Walk/5 km">5 km</a></li>
                <li><a class="top-nav-submenu-link" routerLink="/save-records/Walk/10 km">10 km</a></li>
                <li><a class="top-nav-submenu-link" routerLink="/save-records/Walk/20 km">20 km</a></li>
                <li><a class="top-nav-submenu-link" routerLink="/save-records/Walk/50 km">50 km</a></li>
            </ul>
        </li>
        <li class="top-nav-menu-item">
            <a routerLink="records/Swim" class="top-nav-menu-link">Swim</a>
            <ul class="top-nav-submenu">
                <li><a class="top-nav-submenu-link" routerLink="/save-records/Swim/50 m FS">50 m FS</a></li>
                <li><a class="top-nav-submenu-link" routerLink="/save-records/Swim/100 m FS">100 m FS</a></li>
                <li><a class="top-nav-submenu-link" routerLink="/save-records/Swim/200 m FS">200 m FS</a></li>
                <li><a class="top-nav-submenu-link" routerLink="/save-records/Swim/400 m FS">400 m FS</a></li>
                <li><a class="top-nav-submenu-link" routerLink="/save-records/Swim/800 m FS">800 m FS</a></li>
                <li><a class="top-nav-submenu-link" routerLink="/save-records/Swim/1500 m FS">1500 m FS</a></li>
                <li class="top-nav-submenu-item relative">
                    <a class="top-nav-submenu-link">100 BS</a>
                    <ul class="top-nav-submenu-2">
                        <li class="top-nav-submenu-2-item"><a class="top-nav-submenu-2-link" routerLink="/save-records/Swim/100 BR S">100 BR S</a></li>
                        <li class="top-nav-submenu-2-item"><a class="top-nav-submenu-2-link" routerLink="/save-records/Swim/100 BUT">100 BUT</a></li>
                    </ul>
                </li>
                <li class="top-nav-submenu-item relative">
                    <a class="top-nav-submenu-link">200 BS</a>
                    <ul class="top-nav-submenu-2">
                        <li class="top-nav-submenu-2-item"><a class="top-nav-submenu-2-link" routerLink="/save-records/Swim/200 BR S">200 BR S</a></li>
                        <li class="top-nav-submenu-2-item"><a class="top-nav-submenu-2-link" routerLink="/save-records/Swim/200 BUT">200 BUT</a></li>
                    </ul>
                </li>
                <li><a class="top-nav-submenu-link" routerLink="/save-records/Swim/200 IN MED">200 IN MED</a></li>
                <li><a class="top-nav-submenu-link" routerLink="/save-records/Swim/400 IN MED">400 IN MED</a></li>
            </ul>
        </li>
        <li class="top-nav-menu-item">
            <a routerLink="records/Wt Lift" class="top-nav-menu-link">Wt Lift</a>
            <ul class="top-nav-submenu">
                <li><a class="top-nav-submenu-link" routerLink="/save-records/Throw/Snatch">Snatch</a></li>
                <li><a class="top-nav-submenu-link" routerLink="/save-records/Throw/Clean and Jerk">Clean & Jerk</a></li>
                <li><a class="top-nav-submenu-link" routerLink="/save-records/Throw/Combined">Combined</a></li>
            </ul>
        </li>
    </ul>
</nav>